.reason {
	.reason-flex {
		width: 60%;
		margin: auto;
		.reason-item {
			width: 46%;
			@media (max-width: 778px) {
				width: 100%;
			}
			img {
				border-radius: 10%;
				height: 560px;
				object-fit: cover;
				object-position: center;
				@media (max-width: 600px) {
					height: 350px;
					@media (max-width: 440px) {
						height: 300px;
						@media (max-width: 370px) {
							height: 260px;
						}
					}
				}
			}
			h1 {
				position: relative;
				&::after {
					content: "";
					left: 0;
					position: absolute;
					bottom: -30px;
					width: 40%;
					height: 7px;
					background-color: #8bc6ec;
				}
				@media (max-width: 340px) {
					font-size: 30px;
				}
			}
		}
		@media (max-width: 1542px) {
			width: unset;
			max-width: 90%;
			@media (max-width: 1180px) {
				max-width: 96%;
				@media (max-width: 778px) {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 60px !important;
				}
			}
		}
	}
}
