.footer {
	background-color: #0d369f;
	.footer-container {
		width: 60%;
		margin: auto;
		@media (max-width: 1542px) {
			width: unset;
			max-width: 90%;
			@media (max-width: 1035px) {
				flex-wrap: wrap;
				@media (max-width: 1180px) {
					max-width: 96%;
					@media (max-width: 778px) {
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 60px !important;
					}
				}
			}
		}
		.footer-item {
			width: 24%;
			@media (max-width: 1035px) {
				width: 45% !important;
				@media (max-width: 801px) {
					width: 100% !important;
				}
			}
		}
	}
}
