.landing {
	.welc {
		// background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
		background: url(../../Assets/student.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		// height: 60vh;
		.welcome {
			width: 60%;
			margin: auto;
			.welcome-flex {
				.flex-right {
					width: 48%;
					.flex-right-btn {
						@media (max-width: 778px) {
							flex-direction: column;
							justify-content: center;
							align-items: center;
							gap: 60px !important;
						}
					}
					@media (max-width: 778px) {
						width: 100%;
						h1 {
							text-align: center;
							@media (max-width: 336px) {
								font-size: 29px;
							}
						}
					}
				}
				.flex-left {
					width: 48%;
					div {
						textarea {
							resize: none;
						}
					}
					@media (max-width: 778px) {
						width: 100%;
					}
				}
				@media (max-width: 778px) {
					flex-direction: column;
					gap: 40px;
				}
			}
			@media (max-width: 1542px) {
				width: unset;
				max-width: 90%;
				@media (max-width: 1180px) {
					max-width: 96%;
				}
			}
		}
	}
	.work {
		// background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
			url("../../Assets/people.jpeg");
		background-repeat: no-repeat;
		background-position: center;
		.work-container {
			width: 60%;
			margin: auto;
			@media (max-width: 1542px) {
				width: unset;
				max-width: 90%;
				@media (max-width: 1180px) {
					max-width: 96%;
					@media (max-width: 778px) {
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 60px !important;
					}
				}
			}
			h1 {
				position: relative;
				&::after {
					width: 20%;
					left: 50%;
					transform: translateX(-50%);
					content: "";
					position: absolute;
					bottom: -20px;
					height: 10px;
					background-color: white;
				}
				@media (max-width: 459px) {
					font-size: 30px;
				}
			}
			p {
				@media (max-width: 644px) {
					font-size: 15px;
					@media (max-width: 606px) {
						font-size: 13px;
					}
				}
			}
			.work-last {
				background-image: url("../../Assets/offer.png");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				height: 500px;
				@media (max-width: 1000px) {
					height: 300px;
					@media (max-width: 586px) {
						height: 260px;
						@media (max-width: 500px) {
							height: 200px;
							@media (max-width: 410px) {
								height: 170px;
								@media (max-width: 350px) {
									height: 140px;
								}
							}
						}
					}
				}
			}
		}
	}
	.choose {
		.choose-container {
			width: 60%;
			margin: auto;
			@media (max-width: 1542px) {
				width: unset;
				max-width: 90%;
				@media (max-width: 1180px) {
					max-width: 96%;
					@media (max-width: 778px) {
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 60px !important;
					}
				}
			}
			.text-rated {
				@media (max-width: 370px) {
					font-size: 14px;
					@media (max-width: 316px) {
						font-size: 13px;
					}
				}
			}
			h1 {
				position: relative;
				&::after {
					position: absolute;
					bottom: -30px;
					content: "";
					width: 20%;
					left: 50%;
					transform: translateX(-50%);
					height: 7px;
					background-color: #0d369f;
				}
			}
			.show {
				.show-items {
					flex-wrap: wrap;
					@media (max-width: 820px) {
						gap: 20px;
					}
					.item1 {
						width: 24%;
						@media (max-width: 820px) {
							width: 46%;
							@media (max-width: 480px) {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
